# Node.js
node_modules
npm-debug.log
.env

# React
build

# AWS
.elasticbeanstalk/

# IDEs
.vscode/
.idea/

# Logs
logs
*.log

# OS
.DS_Store
thumbs.db


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
