option_settings:
  # Sets the correct WSGIPath permanently
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

  # Documents the required environment variables for future deployments
  aws:elasticbeanstalk:application:environment:
    # Required for Flask-JWT-Extended
    JWT_SECRET_KEY: 'Placeholder for required secret key. MUST be set in EB console.'
    # Required for Stripe Integration
    STRIPE_PUBLISHABLE_KEY: 'Placeholder for required publishable key. MUST be set in EB console.'
    STRIPE_SECRET_KEY: 'Placeholder for required secret key. MUST be set in EB console.'
    # Required for Flask session security
    SECRET_KEY: 'Placeholder for required secret key. MUST be set in EB console.'
