# .ebextensions/01_weasyprint_deps.config
packages:
  yum:
    pango: []
    cairo: []
    pango-devel: []
    cairo-devel: []
    libjpeg-devel: []
    libpng-devel: []
    libtiff-devel: []
    giflib-devel: []
    libffi-devel: []
    libxml2-devel: []
    libxslt-devel: []
    openssl-devel: []
    bzip2-devel: []
    zlib-devel: []
    sqlite-devel: []
    gtk3-devel: []
    fontconfig: []
