option_settings:
  aws:elasticbeanstalk:container:python:
    PythonVersion: 3.9
    WSGIPath: src/main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current

container_commands:
  01_install_dependencies:
    command: "/usr/bin/python3 -m pip install -r requirements.txt"
    leader_only: true

