option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
    HealthCheckInterval: 30
    HealthCheckTimeout: 5
    Port: 80
    Protocol: HTTP
    StickinessEnabled: true
    StickinessLBCookieDuration: 86400
    StickinessType: lb_cookie
