option_settings:
  aws:elb:listener:443:
    SSLCertificateId: d73942c9-6967-4b76-b28a-9fa2c7d091fb
    ListenerProtocol: HTTPS
  aws:elb:listener:80:
    ListenerProtocol: HTTP
    InstancePort: 80
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current

container_commands:
  01_redirect_http_to_https:
    command: |
      if [ -f /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf ]; then
        sed -i 
          -e '/listen 80;/a \    return 301 https://$host$request_uri;' 
          -e 's/listen 80;//' 
          /etc/nginx/conf.d/elasticbeanstalk-nginx-docker-proxy.conf
      fi

